*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor1:#35383F;
    --cor2:#ECEDF0;
    --cor3:#1F6FB0;
    --cor4:#404A65;
}
body, main{
    display: flex;
    align-items: center;
}
h1, p, button{
    font-family: "Kanit", sans-serif;
    color:var(--cor2);
}
p, button{
    font-weight: 600;
}
#moeda, button{
    width: 160px;
    margin-top: 60px;
}
#sombra, #lado{
    margin-top: 40px;
}

body{
    background-color: var(--cor4);
    justify-content: center;
    min-height: 100vh;
}
main{
    flex-direction: column;
}

h1{
    font-weight: 900;
    font-size: 64px;
    margin-top: 48px;
    text-shadow: 2px 2px 0px var(--cor1);
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: var(--cor1);
}

p{
    font-size: 24px;
}
#desc{ 
    margin-top: 12px;
}

button{
    font-size: 20px;
    background-color: var(--cor3);
    border: none;
    height: 50px;
    margin-bottom: 60px;
    border-radius: 8px;
    box-shadow: 0px 4px 0px 0px #23649b;
}